body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

.banner {
  width: 300px;
  height: 600px;
  position: relative;
}

.shelf {
  position: relative;
  width: 212px;
  margin: 28px auto 0 auto;
}

.shelf__position {
  position: absolute;
  cursor: grab;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  display: block;
  z-index: 1;
}

.shelf__position.visible {
  opacity: 1;
}

.shelf__position.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.shelf__position.dragging {
  animation: bounce 0.4s infinite ease-in-out;
  z-index: 10;
}

.cart__item {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  transform: scale(1.25);
}

.cart__item.visible {
  opacity: 1;
  animation: shake 0.5s infinite ease-in-out;
}

.cart {
  position: absolute;
  bottom: -103px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.cart__products {
  position: absolute;
  left: 78px;
  bottom: 160px;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.shelf__position--1 {
  left: 22px;
  bottom: 310px;
}

.shelf__position--2 {
  left: 64px;
  bottom: 310px;
}

.shelf__position--3 {
  left: 103px;
  bottom: 310px;
}

.shelf__position--4 {
  left: 158px;
  bottom: 310px;
}

.shelf__position--5 {
  left: 7px;
  bottom: 211px;
}

.shelf__position--6 {
  left: 58px;
  bottom: 200px;
}

.shelf__position--7 {
  left: 129px;
  bottom: 209px;
}

.shelf__position--8 {
  left: 13px;
  bottom: 120px;
}

.shelf__position--9 {
  left: 58px;
  bottom: 119px;
}

.shelf__position--10 {
  left: 115px;
  bottom: 120px;
}

.shelf__position--11 {
  left: 156px;
  bottom: 114px;
}

.cart__order {
  background: #FCE000;
  color: #21201F;
  font-size: 16px;
  line-height: 1em;
  text-decoration: none;
  padding: 20px;
  border-radius: 16px;
  transition: ease .3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

.cart__order:hover {
  opacity: .9;
}

.cart__order.visible{
  opacity: 1;
  visibility: visible;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
}
